<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- differential_teleop_key already has its own built in velocity smoother -->
  <node pkg="myrobot_control" type="myrobot_key" name="myrobot_key"  output="screen">

    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <remap from="turtlebot_teleop_keyboard/cmd_vel" to="/cmd_vel"/> 

  </node>
</launch>
